@import "theme.css";


#icon {
    -fx-fill: -sign;
}

#title {
    -fx-fill: -light;
}

.box {
    -fx-background-color: -darker;
    -fx-border-width: 2px;
    -fx-border-color: -semidark;
    -fx-border-radius: 5px;
}

.label {
    -fx-fill: -light;
    -fx-font-weight: 600;
    -fx-font-family: Ikonli;
}

.text-field {
    -fx-background-color: -dark;
    -fx-text-fill: -light;
    -fx-border-width: 1px;
    -fx-border-color: -semidark;
    -fx-border-radius: 2px;
}

.mybutton {
    -fx-text-fill: -darker;
    -fx-background-color: -sign;
    -fx-font-weight: bold;
    -fx-cursor: HAND;
}
.mybutton:pressed{
    -fx-background-color: -semidark;
}

.link {
    -fx-fill: -sign;
    -fx-cursor: HAND;
}